<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studente.buynow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Reg_Act"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Accedi_Act"
            android:label="@string/title_activity_accedi_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Accedi_ActRoot"
            android:label="@string/title_activity_accedi__act_root"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AccountSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Caricamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CambioPassword"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.ActProdotto" />
        <activity android:name=".Activities.ActProdottoCarrello" />
        <activity android:name=".Activities.ActModifica" />
        <activity android:name=".Activities.Ordina" />
        <activity android:name=".Activities.Ordini"></activity>
    </application>

</manifest>